@model Fall2024_Assignment3_hrhazelwood.Models.MovieDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Movie</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.ImdbLink)
        </dt>
        <dd class="col-sm-10">
            @*@Html.DisplayFor(model => model.Movie.ImdbLink)*@
            @if (Model.Movie.ImdbLink != null)
            {
                <a href="@Model.Movie.ImdbLink" target="_blank">@Model.Movie.ImdbLink</a>
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.Genre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.Genre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.ReleaseYear)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.ReleaseYear)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.Media)
        </dt>
        <dd class="col-sm-10">
            @if (Model.Movie.Media != null)
            {
                <img id="poster" src="@Url.Action("GetMoviePhoto", "Movie", new { Model.Movie.Id })"/>
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Movie.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
<hr />
<h5 id="header">Actors</h5>
<table class="datatables">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Actors)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Actors)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @*<a asp-action="Edit" asp-controller="Actor" asp-route-id="@item.Id">Edit</a> |*@
                    <a asp-action="Details" asp-controller="Actor" asp-route-id="@item.Id">Details</a>
                    @*<a asp-action="Delete" asp-controller="Actor" asp-route-id="@item.Id">Delete</a>*@
                </td>
            </tr>
        }
    </tbody>
</table>
<hr />
<h5 id="header">Reviews</h5>
<h6 id="sentiment">Overall Sentiment: @Html.DisplayFor(model => model.OverallSentiment)</h6>
@*<h6>@Html.DisplayFor(model => model.OverallSentiment)</h6>*@
<table class="datatables">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Reviews)
            </th>
            <th>Review Sentiment</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Reviews != null)
        {
            for (int i = 0; i < Model.Reviews.Length; i++)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(model => model.Reviews[i])
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.ReviewSentiment[i])
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

@section Scripts {
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css"
          integrity="sha384-5oFfLntNy8kuC2TaebWZbaHTqdh3Q+7PwYbB490gupK0YtTAB7mBJGv4bQl9g9rK"
          crossorigin="anonymous">
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"
            integrity="sha384-k5vbMeKHbxEZ0AEBTSdR7UjAgWCcUfrS8c0c5b2AfIh7olfhNkyCZYwOfzOQhauK"
            crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"
            integrity="sha384-PgPBH0hy6DTJwu7pTf6bkRqPlf/+pjUBExpr/eIfzszlGYFlF9Wi9VTAJODPhgCO"
            crossorigin="anonymous"></script>
    <script>$('table.datatables').DataTable();</script>
}